  
<section class="card">
  <div class="card-body">
    <h1>Acerca</h1>
    <p>
      Toda la información del ejercicio se encuentra en el home
      <br>
      Por Bryan Antonio Angarita Rodriguez
    </p>
  </div>
</section>